In [20]:
# integer ededler -> 2,4,8,4,-5,-2,-4
type(-4)

int

In [21]:
# float ededler -> 3.6,-7.8
type(5.5)

float

In [38]:
# boolean

a = True
b = False


print(type(a))
print(type(b))

print(3>4)
print('QSS'=='QSS')

<class 'bool'>
<class 'bool'>
False
True

In [39]:
# String -> tek ve cut dirnaqlar string yazilir

'Baki'
seher = "Baki"
seher

'Baki'

In [2]:
"Now I'm going to university"

"Now I'm going to university"

In [4]:
# \n - yeni setire kecmek ucun
# \t - arada bosluq qoymaq ucun

print('Baki gozel seherdir')
print('Baki Azerbaycanin paytaxtidir')
print('\n')
print('Baki Azerbaycanin paytaxti\tdir')

Baki gozel seherdir
Baki Azerbaycanin paytaxtidir


Baki Azerbaycanin paytaxti	dir

## List

In [7]:
# listler elementler coxluqudur, ustunluyu odur ki, elementler uzerinde deyisiklikler etmek olur
#  Kvadrat moterizelerle yaranir

list1 = [1,2,3]
print(list1)

# list ferqli tip elementleri ozunde birlesdire bilir
list2 = ['Salam',12,True,'Sag ol',43.14]
print(list2)

# nece element oludugunu tapmaq
print(len(list2))
print('\n')

#list indexing
print(list2[-1])
print(list2[1])

#list slicing
print(list2[1:])
print(list2[:3])
print(list2[2:4])

#list-e yeni element elave etmek usulu 1
list2 = list2 + [1] + ['Baki']
print(list2)

#list-e yeni element elave etmek usulu 2
list2.append('Sumqayit')
print(list2)

#istediyimiz index-e elave etmek ucun:
masin = ['BMW','Mercedes','Land Rover','Porsche']
print('Masinlar:')
masin.insert(2,'Hyundai')
print(masin)

#list-i 2 defe tekrarlamaq
list2 = list2 * 2
print(list2)

#istediyimiz index-li element-i listden silmek: pop() funksiyasi default olaraq son index-deki elementi silir
cixarilan_element = list2.pop()
print("Cixarilan element: ",cixarilan_element)
print(list2)

#istediyimiz index-den silme
list2.pop(2)
print(list2)

#diger yolu
del list2[2]
print(list2)

#diger yolu
list2.remove('Salam')
print(list2)

#list-in eksini cixardir
list2.reverse()
print(list2)

#elementlerin siralamasi -> butun elementlerin eyni tipde olmasi lazim
#list2.sort()
#print(list2)

#kicikden boyuye -> asc
list3 = [3,9,6,1,45,12]
list3.sort()
print(list3)

#boyuyden kiciye -> desc
list3.sort(reverse = True)
print(list3)

#char-lari sort etmek:
list4 = ['Ibrahim','Ilkin','Eli','Nihad']
list4.sort(key=str.lower)
print(list4)

#char-lari desc sort etmek:
list4.sort(key=str.lower, reverse=True)
print(list4)
print('\n')

[1, 2, 3]
['Salam', 12, True, 'Sag ol', 43.14]
5


43.14
12
[12, True, 'Sag ol', 43.14]
['Salam', 12, True]
[True, 'Sag ol']
['Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki']
['Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki', 'Sumqayit']
Masinlar:
['BMW', 'Mercedes', 'Hyundai', 'Land Rover', 'Porsche']
['Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki', 'Sumqayit', 'Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki', 'Sumqayit']
Cixarilan element:  Sumqayit
['Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki', 'Sumqayit', 'Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki']
['Salam', 12, 'Sag ol', 43.14, 1, 'Baki', 'Sumqayit', 'Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki']
['Salam', 12, 43.14, 1, 'Baki', 'Sumqayit', 'Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki']
[12, 43.14, 1, 'Baki', 'Sumqayit', 'Salam', 12, True, 'Sag ol', 43.14, 1, 'Baki']
['Baki', 1, 43.14, 'Sag ol', True, 12, 'Salam', 'Sumqayit', 'Baki', 1, 43.14, 12]
[1, 3, 6, 9, 12, 45]
[45, 12, 9, 6, 3, 1]
['Eli', 'Ibrahim', 'Ilkin', 'Nihad']
['Nihad', 'Ilkin', 'Ibrahim', 'Eli']

## Tuple

In [41]:
#List-le eynidir, ferqi odur ki, immutable dir, elementler uzerinde deyisiklik etmek olmur
#() moterize ile yaranir

tuple1 = (1,3,5)
print(tuple1)

#element sayi
print(len(tuple1))

#ferqli obyekt tipleri ola biler
tuple2 = ('Baki',32, True, 44.3,44.3)
print(tuple2)

#indexing
print(tuple2[2])
print(tuple2[-1])

#index() yazilan elementin index-ni gosterir
print(tuple2.index('Baki'))

#count() yazilan elementin nece defe tekrarlandigini bildirir
print(tuple2.count(44.3))

#deyismezliyinin isbati - run elesek islemeyecek

#tuple2[3] = '22.1'
#tuple2.append(11)

(1, 3, 5)
3
('Baki', 32, True, 44.3, 44.3)
True
44.3
0
2

## Dictionaries

In [42]:
# key and value-dan ibaretdir
# {} moterizelerle yaranir
dict1 = {'key1':'value1', 'key2':'value2'}
print(dict1['key1'])

dict2 = {'ad':['Ibrahim','Nihad','Natiq'], 'yashlar':[20,19,22], 'universitet':['BMU','UNEC','Sumgait University']}
print(dict2['universitet'][2].upper())

dict2['yashlar'][0] +=2
print(dict2)

# basga yolla yaranmasi
dict3 = {}

dict3['Ad'] = 'Ibrahim'
dict3['Soyad'] = 'Alizada'
print(dict3)

#key-leri cixarir
print(dict3.keys())

#value-lari cixarir
print(dict3.values())

#2-sini biryerde uygun sekilde cixarmaq
print(dict3.items())

value1
SUMGAIT UNIVERSITY
{'ad': ['Ibrahim', 'Nihad', 'Natiq'], 'yashlar': [22, 19, 22], 'universitet': ['BMU', 'UNEC', 'Sumgait University']}
{'Ad': 'Ibrahim', 'Soyad': 'Alizada'}
dict_keys(['Ad', 'Soyad'])
dict_values(['Ibrahim', 'Alizada'])
dict_items([('Ad', 'Ibrahim'), ('Soyad', 'Alizada')])

## Iterations

In [46]:
# if

a=8
b=9

if a>b:
    print(a,'boyukdur')
else:
    print(b,'boyukdur')

9 boyukdur

In [14]:
seher = 'Baki'

if seher=='Baki':
    print('Azerbaijan')
elif seher=='Istanbul':
    print('Turkey')
else:
    print('Ayri olke')

Azerbaijan

In [47]:
# for loop

list1 = [1,2,3,6,8,9]

for num in list1:
    print(num)

print('\n')

for i in list1:
    if i%2 == 0:
        print(str(i)+ ' cutdur')
    else:
        print(str(i) + ' tekdir')

1
2
3
6
8
9


1 tekdir
2 cutdur
3 tekdir
6 cutdur
8 cutdur
9 tekdir

In [48]:
# while

x = 0

while x<=10:
    print('X-in hazirki qiymeti : ' ,x)
    x =  x + 1

X-in hazirki qiymeti :  0
X-in hazirki qiymeti :  1
X-in hazirki qiymeti :  2
X-in hazirki qiymeti :  3
X-in hazirki qiymeti :  4
X-in hazirki qiymeti :  5
X-in hazirki qiymeti :  6
X-in hazirki qiymeti :  7
X-in hazirki qiymeti :  8
X-in hazirki qiymeti :  9
X-in hazirki qiymeti :  10

In [22]:
import statistics as st

In [23]:
data = [39,39,29,43,52,45,44,31,44,35]

In [24]:
mean=st.mean(data)

In [25]:
mean

40.1

In [26]:
data.sort()

In [27]:
data

[29, 31, 35, 39, 39, 43, 44, 44, 45, 52]

In [30]:
xyz = st.median(data)

In [31]:
xyz

41.0

In [32]:
data = [39,39,39,29,43,52,40,44,31,44,35]

In [33]:
mode = st.mode(data)

In [34]:
mode

39

In [18]:
modes = []
for a in data:
    if data.count(a)>1:
        modes.append(a)

In [19]:
modes

[39, 39, 39, 44, 44]

In [20]:
import numpy as np
import pandas as pd

In [21]:
p = np.percentile(data, 100)

In [22]:
p

52.0

In [23]:
np.percentile(data, 50)

39.0

In [24]:
df = pd.DataFrame(data)

In [25]:
df

     0
0   39
1   39
2   39
3   29
4   43
5   52
6   40
7   44
8   31
9   44
10  35

In [26]:
df.describe()

               0
count  11.000000
mean   39.545455
std     6.424385
min    29.000000
25%    37.000000
50%    39.000000
75%    43.500000
max    52.000000

In [27]:
range = max(data)-min(data)

In [28]:
range

23

In [29]:
variance = st.variance(data)

In [30]:
variance

41.27272727272727

In [31]:
stdev = st.stdev(data)

In [32]:
stdev

6.424385361474456

In [33]:
from scipy import stats
zscore = stats.zscore(data)

In [34]:
scores = pd.DataFrame(zscore)

In [35]:
scores

           0
0  -0.089048
1  -0.089048
2  -0.089048
3  -1.721591
4   0.563970
5   2.033259
6   0.074207
7   0.727224
8  -1.395083
9   0.727224
10 -0.742065